/* ------ general page styles ------ */

:root {
    /* define font-style variables */
    --primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --secondary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    /* box model */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* visual decorations */
    background-color: #d9dcd6;
}

a {
    /* typography */
    color: #ffffff;
    text-decoration: none;
}

p {
    /* typography */
    font-size: 16px;
}

.float-left {
    /* box model */
    margin-right: 25px;

    /* positioning */
    float: left;
}

.float-right {
    /* box model */
    margin-left: 25px;

    /* positioning */
    float: right;
}

/* ----- header element styles ----- */
header {
    /* box model */
    padding: 20px;

    /* visual decorations */
    background-color: #2a607c;

    /* typography */
    color: #ffffff;
    font-family: var(--secondary-font);
}

    header h1 {
        /* positioning */
        display: inline-block;

        /* typography */
        font-size: 48px;
    }

        header h1 .seo {
            /* typography */
            color: #d9dcd6;
        }

    header nav {
        /* box model */
        padding-top: 15px;
        margin-right: 20px;

        /* positioning */
        float: right;

        /* typography */
        font-family: var(--primary-font);
        font-size: 20px;
    }

        header nav ul {
            /* typography */
            list-style-type: none;
        }

            header nav ul li {
                /* box model */
                margin-left: 25px;
                
                /* positioning */
                display: inline-block;
            }

/* ----- hero styles ------ */
.hero {
    /* box model */
    height: 800px;
    margin-bottom: 25px;
    width: 100%;

    /* visual decorations */
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* ----- content container styles ----- */
.content {
    /* box model */
    margin-left: 20px;
    width: 75%;

    /* positioning */
    display: inline-block;

    /* the following properties have been defined for every element inside the content container */
    /* typography */
    color: #ffffff;
    font-family: var(--primary-font);
}

    /* NOTE: "service" class added to unify styles between the 3 horiseon services */
    .service {
        /* box model */
        height: 300px;
        margin-bottom: 20px;
        padding: 50px;

        /* visual decorations */
        background-color: #0072bb;
    }

        .service img {
            /* box model */
            max-height: 200px;
        }

        .service h2 {
            /* box model */
            margin-bottom: 20px;

            /* typography */
            font-size: 36px;
        }

/* ----- benefits container styles ----- */
.benefits {
    /* box model */
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    width: 20%;

    /* positioning */
    clear: both;
    float: right;

    /* the following properties have been defined for every element inside the content container */
    /* visual decorations */
    background-color: #2589bd;

    /* typography */
    font-family: var(--primary-font);

}

    /* NOTE: "benefit" class added to unify styles between the 3 horiseon benefits */
    .benefit{
        /* box model */
        margin-bottom: 32px;

        /* typography */
        color: #ffffff;
    }

        .benefit h3 {
            /* box model */
            margin-bottom: 10px;

            /* typography */
            text-align: center;
        }

        .benefit img {
            /* box model */
            margin: 10px auto;
            max-width: 150px;

            /* positioning */
            display: block;

        }

/* ----- footer element styles ----- */
footer {
    /* box model */
    padding: 30px;

    /* positioning */
    clear: both;

    /* typography */
    font-family: var(--secondary-font);
    text-align: center;
}

    footer h2 {
        /* typography */
        font-size: 20px;
    }
